.col {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 5rem !important;
  max-width: 5rem !important;
  height: 5rem !important;
  width: 5rem !important;
  border: 0.2rem solid black;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}
.container {
  border: 0.2rem solid black;
  border-radius: 0.25rem;
  max-width: 15rem !important;
  max-height: 15rem !important;
}
