#board .col {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 8rem !important;
  max-width: 8rem !important;
  height: 8rem !important;
  width: 8rem !important;
  border: 0.2rem solid black;
  font-size: 7rem;
  padding-bottom: 0.5rem;
}
.container #board {
  max-width: 24rem !important;
  max-height: 24rem !important;
}
#scores {
  font-size: 1rem !important;
}
